/*CSS3 HTML5 reset*/
input[type=text],
input[type=tel],
input[type=number],
input[type=url],
input[type=email],
input[type=date]{
    display: block;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    height: 42px;
    line-height: 42px;
    outline: none;
    text-indent: 10px;
    background: #fff;
    -webkit-box-shadow: inset 2px 2px 2px #ddd;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=url]:focus,
input[type=email]:focus{
    border-color: #ffb70a;
}

/*common*/
.overlay-container{
    background: rgba(255, 255, 255, .95);
    -webkit-border-radius: 3px;
    border: 1px solid #ddd;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    -webkit-box-shadow: 0 0 13px 2px #A5A2A2;
}
.overlay-container li{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.overlay-container li:last-child{
    border: none;
}
.overlay-container li a{
    display: block;
    padding: 0 20px 0 10px;
}
.full-screen{
    display: block;
}
select.full-screen{
    height: 40px;
    line-height: 40px;
    width: 100%;
}
.btn{
    cursor: pointer;
    -webkit-border-radius: 3px;
    text-align: center;
    line-height: 20px;
    border: none;
    display: block;
}
.btn-del{
    color: #fff;
    font-size: 15px;
    background: #ff0814;
}
.btn-ok{
    color: #fff;
    font-size: 15px;
    background: #f50;
    padding: 10px 0;
}
.btn-info{
    color: #fff;
    font-size: 15px;
    background: #0078e7;
}
#header,
#footer{
    background: #eeeeee;
    border-bottom: 1px solid #bfbfbf;
    color: #404040;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    display: -webkit-box;
    margin: 0 0 20px 0;
}
#header a,
#footer a{
    color: inherit;
}
#header .btn,
#header .bd,
#header .back-btn{
    display: block;
    padding: 0;
    text-align: center;
}
#header .btn,
#header .back-btn{
    line-height: 25px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
}
#header .btn{
    margin-right: 5px;
}
#header .back-btn{
    margin-left: 5px;
    text-decoration: none;
}
#header .bd{
    -webkit-box-flex: 1;
}
#header .btn-info{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    display: block;
}
#header .filter{
    height: 24px;
    margin-left: 5px;
}
.tip-box{
    padding: 5px;
}
.tip-box .tip{
    padding: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tip-default{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
.tip-box .tip-default{
    color: #333;
}
.tip-error{
    background-color: #da4f49;
}
.tip-success{
    background-color: #5bb75b;
}
.tip-info{
    background-color: #49afcd;
    color: #fff;
}
.tip-inverse{
    background-color: #363636;
}
.webkit-box{
    display: -webkit-box;
}
.webkit-box .tag,
.webkit-box .tag-obj{
    display: block;
    -webkit-box-flex: 1;
}
.webkit-box p{
    margin: 0 10px 10px 0;
    width: 40px;
    line-height: 42px;
    height: 42px;
}
.webkit-box .btn{
    width: 40px;
    margin-left: 10px;
    display: block;
    height: 42px;
    line-height: 42px;
}

/*icon*/
.camera{
    background: url(../imgs/camera.png);
    background-size: 24px 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    margin: 10px 0 0 -25px;
}
.filter{
    background: url(../imgs/filter.png);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: block;
    text-indent: -10000px;
}

/*add product*/
.filed-group,
.pure-controls{
    display: -webkit-box;
    margin: 0 5px 10px;
}
.filed-group label,
.filed-group input,
.pure-controls button
{
    display: block;
}
.filed-group input{
    margin-left: 10px;
}
.filed-group input{
    -webkit-box-flex: 1;
}
.filed-group label.inline{
    text-align: left;
    display: inline;
}
.filed-group label.inline input{
    display: inline;
}

.filed-group label{
    width: 45px;
}
.J-takePhotoBox{
    position: relative;
    height: 40px;
    width: 100px;
}
.J-takePhotoBox input,
.J-takePhoto-btn-skin{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 75px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 3px;
    border: 1px solid #075ee7;
}
.J-takePhoto-btn-skin{
    background: #0078e7;
    color: #fff;
    height: 44px;
    line-height: 44px;
}
#J-takePhoto-btn{
    -webkit-appearance: button;
    -webkit-border-radius: 5px;
    opacity: 0;
}
.J-takePhotoBox input{
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.J-photoPreview{
    -webkit-box-flex: 1;
    margin-left: 10px;
}
.J-photoPreview img{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #b7b7b7;
}
.propsBox{
    margin-left: 10px;
}
.J-propsHTMLBox{
    margin-bottom: 10px;
}
.J-propsHTMLBox .btn{
    padding: 3px 0;
}
.J-propsHTMLBox .prop{
    margin-bottom: 10px;
}
.J-addValue{
    font-size: 12px;
    padding-left: 10px;
}
.J-delProp{
    margin-left: 5px;
    line-height: 45px;
    padding: 0 3px;
}
.noProps{
    margin-left: 10px;
}
.J-propValsContainer{
    -webkit-box-flex: 1;
}
.valueBox{
    display: -webkit-box;
}
.addProduct-form .btn-ok{
    margin: 20px auto;
    width: 90%;
}
.addPropsForm .filed-group label{
    width: 60px;
}
.addPropsForm .filed-group input{
    width: 100px;
    margin: 0;
}
.addPropsForm .valueBox{
    margin-bottom: 10px;
}
.J-addValue-btn{
    display: block;
    height: 40px;
    line-height: 40px;
}
#J-addProps-btn{
    height: 40px;
    line-height: 40px;
    display: block;
}
.typesBox{
    margin-left: 10px;
    -webkit-box-flex: 1;
}
#J-addType{
    height: 40px;
    line-height: 40px;
    display: block;
}

/*dataList*/
.J-dataList li{
    margin: 0;
    display: -webkit-box;
    border-bottom: 1px solid #b7b7b7;
    padding: 3px;
    cursor: pointer;
}
.J-dataList .active{
    background: -webkit-gradient(linear, left top, left bottom, from(#fff) ,to(#E0E0E0));
}
.J-dataList .active .imgBox{
    border: 1px solid #ddd;
}
.dataList-box .loading{
    line-height: 40px;
    text-align: center;
    display: none;
}
.J-dataList .imgBox{
    width: 104px;
    height: 104px;
    overflow: hidden;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    margin-right: 10px;
    background: #fff;
}
.J-dataList .info{
    line-height: 23px;
}
.J-dataList .pName{
    font-weight: 700;
    font-size: 17px;
}
.J-dataList img{
    max-width: 150px;
}
.input-popUnitPrice{
    width: 60px;
    -webkit-box-flex: none;
}
.unit-operator{
    display: block;
    text-align: center;
    line-height: 42px;
    height: 42px;
    margin: 0 5px;
}
.J-Pop-countSelector{
    width: 40px;
    height: 42px;
}
.manBox label{
    margin-right: 10px;
}
.J-Pop-countSelector{
    height: 42px;
    display: block;
    -webkit-appearance: button;
    background: #fff;
    border: 1px solid #ddd;
}.dataList-box .btn{
    display: block;
    width: 90%;
    margin: 20px auto 70px;
 }
.init-loading{
    text-align: center;
    padding: 20px 0
}
.datalist-status{
    text-align: center;
    line-height: 30px;
    width: 90%;
    margin: 20px auto 0;
    display: none;
}

/*optional*/
.optional{
    margin-top: 30px;
    display: block;
}
.optional header{
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    border-bottom: 1px solid #aeaeae;
    font-size: 20px;
}
.optional a{
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

/*index*/
.todayOperation{
    line-height: 23px;
    background: #fbff8a;
    border: 1px solid #ffd570;
    margin: 0 20px 20px;
}
.todayOperation header{
    border-bottom: 1px solid #ffd570;
    color: #a1360c;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    font-size: 17px;
    margin: 0 0 10px 0;
    text-align: left;
    text-indent: 10px;
}
.todayOperation .bd{
    padding: 10px;
}
.todayOperation .yye,
.todayOperation .cb,
.todayOperation .lr{
    font-weight: 700;
}
.todayOperation .yye{
    font-size: 30px;
    color: #202020;
}
.todayOperation .lr{
    font-size: 20px;
    color: #5c5c5c;
}
.todayOperation .cb{
    font-size: 12px;
    color: #797979;
}
#footer{
    position: fixed;
    background: #03337A;
    margin: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    border: none;
}
#footer a{
    display: block;
    -webkit-box-flex: 1;
    text-align: center;
    color: #fff;
}

/*operation*/
.date-controler-box{
    margin: 0 5px 20px;
}
.date-controler-box input{
    -webkit-box-flex: 1;
}
.date-controler-box .btn{
    padding: 0;
    width: 60px;
}
.date-controler-box .separator{
    line-height: 40px;
    display: block;
    padding: 0 3px;
}