/*cover pure css*/
.pure-form input[type=text],
.pure-form input[type=tel],
.pure-form input[type=number]{
    display: block;
}
.filed-group label{
    width: 60px;
}
.addProduct-form button[type=submit]{
    height: 40px;
    font-size: 20px;
}
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/*common*/
a:link{
    color: #0078e7;
}
.btn{
    cursor: pointer;
    -webkit-border-radius: 5px;
    text-align: center;
    line-height: 20px;
}
.btn-del{
    color: #fff;
    font-size: 15px;
    background: #ff0814;
}
.input-text{
    -webkit-border-radius: 5px;
    border: 1px solid #bfbfbf;
    height: 40px;
    line-height: 40px;
    outline: none;
}
.input-text:focus{
    border-color: #ffb510;
}
#header{
    background: #191818;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    display: -webkit-box;
}
#header .btn,
#header .bd,
#header .back-btn{
    display: block;
    padding: 0;
    text-align: center;
}
#header .btn,
#header .back-btn{
    height: 25px;
    line-height: 25px;
    width: 50px;
    font-size: 14px;
    margin-top: 12.5px;
}
#header .btn{
    margin-right: 5px;
}
#header .back-btn{
    margin-left: 5px;
    text-decoration: none;
    color:#fff;
}
#header .bd{
    -webkit-box-flex: 1;
}
.tip-box{
    padding: 5px;
}
.tip-box .tip{
    padding: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tip-default{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
.tip-box .tip-default{
    color: #333;
}
.tip-error{
    background-color: #da4f49;
}
.tip-success{
    background-color: #5bb75b;
}
.tip-info{
    background-color: #49afcd;
}
.tip-inverse{
    background-color: #363636;
}
.webkit-box{
    display: -webkit-box;
}
.webkit-box .tag,
.webkit-box .tag-obj{
    display: block;
    -webkit-box-flex: 1;
}
.webkit-box p{
    margin-right: 10px;
    width: 40px;
}
.webkit-box .btn{
    width: 40px;
    margin-left: 10px;
    display: block;
    height: 42px;
    line-height: 42px;
}

/*add product*/
.filed-group,
.pure-controls{
    display: -webkit-box;
    margin: 0 5px 10px;
}
.filed-group label,
.filed-group input,
.pure-controls button
{
    display: block;
}
.filed-group input{
    margin-left: 10px;
}
.filed-group input{
    -webkit-box-flex: 1;
}
.filed-group label.inline{
    text-align: left;
    display: inline;
}
.filed-group label.inline input{
    display: inline;
}
.addProduct-form  button[type=submit]{
    width: 80%;
    margin: 0 auto;
    display: block;
}
.J-takePhotoBox{
    position: relative;
    height: 40px;
    width: 80px;
}
.J-takePhotoBox input,
.J-takePhotoBox .pure-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 20px;
    display: block;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.J-takePhotoBox input{
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.J-photoPreview{
    -webkit-box-flex: 1;
    margin-left: 10px;
}
.J-photoPreview img{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #b7b7b7;
}
.propsBox{
    margin-left: 10px;
}
.J-propsHTMLBox{
    margin-bottom: 10px;
    color: #f50;
    font-size: 12px;
}
.addPropsForm  .pure-controls button{
    -webkit-box-flex: 1;
    margin-left: 3px;
    margin-right: 3px;
}
body .addPropsForm .valueBox input{
    display: block;
    -webkit-box-flex: 1;
    width: 130px;
    margin-bottom: 3px;
}
.J-addValue,
.J-delProp{
    font-size: 12px;
    padding-left: 10px;
}
.J-delProp{
    color: red;
    cursor: pointer;
}
.noProps{
    margin-left: 10px;
}
.J-propValsContainer{
    -webkit-box-flex: 1;
}
.valueBox{
    display: -webkit-box;
}

/*dataList*/
.J-dataList li{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    border-bottom: 1px solid #b7b7b7;
    padding: 3px;
}
.J-dataList .imgBox{
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
    margin-right: 10px;
}
.J-dataList img{
    max-width: 150px;
}
.input-popUnitPrice{
    width: 60px;
    -webkit-box-flex: none;
}
.unit-operator{
    display: block;
    text-align: center;
    line-height: 42px;
    height: 42px;
    margin: 0 5px;
}
.J-Pop-countSelector{
    width: 45px;
    height: 42px;
}