.accountBox .header{
    margin-bottom: 0;
}
.personalBox{
    background: #f6f6f6;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    /*margin-top: -10px;*/
}
.personalBox .userAvatarBox{
    margin-right: 10px;
    -webkit-border-radius: 60px;
    border: 5px solid #ddd;
    text-align: center;
    height: 60px;
    width: 60px;
    display: block;
}
.personalBox .userinfo{
    line-height: 25px;
}
.accountBox .menu{
    margin-bottom: 20px;
}
.username,
.email{
    word-break: break-all;
}
.btn{
    width: auto;
    margin: 30px auto;
}
.feedback{
    font-size: 14px;
    color: #f50;
    display: block;
    margin-bottom: 10px;
    height: 24px;
    line-height: 24px;
}
.feedback img{
    display: inline-block;
    float: left;
    margin-right: 5px;
}
.accountBox{
    padding-bottom: 20px;
}