.myStoreBtn{
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: block;
    margin: 10px 5px 0 0;
}
.myStoreBtn img{
    float: left;
}
.cashierBox .warn{
    width: auto;
    margin: 10px;
}
.cashierBox .warn strong{
    font-weight: 700;
    padding: 0 5px;
}
.cashierBox .perf .def{
    padding: 0 10px 0 10px;
    overflow: auto;
}
.cashierBox .perf .detail{
    margin: 0 10px;
    display: none;
}
.cashierBox .perf .def img{
    -webkit-transform: rotate(-90deg);
    display: inline-block;
    margin: -2px 0 0 3px;
}
.cashierBox form{
    border-top: 5px solid #1caded;
    margin: 10px 0;
    padding: 10px;
}
.cashierTable tr td:first-child{
    text-align: right;
    vertical-align: top;
}
.cashierTable tr td:last-child{
    text-align: left;
    vertical-align: top;
    padding: 0 0 12px 0;
}
.cashierTable tr.product-preview td{
    text-align: center;
    padding-left: 0;
}
.cashierTable .product-preview .imgSkin{
    max-width: 100px;
    margin-right: 10px;
}
.cashierTable .product-preview img{
    max-width: 100px;
    border: 1px solid #ddd;
}
.cashierTable .product-preview .information{
    text-align: left;
    line-height: 22px;
    max-width: 50%;
}
.cashierTable input[type=text],
.cashierTable input[type=tel],
.cashierTable input[type=number]{
    -webkit-border-radius: 5px;
    width: 60px;
    background: #fff;
    display: block;
    line-height: 35px;
    border: 1px solid #ddd;
    text-align: left;
    text-indent: 10px;
    outline: none;
    height: 35px;
    font-size: 15px;
}
.cashierTable input[type=text]:focus,
.cashierTable input[type=tel]:focus,
.cashierTable input[type=number]:focus{
    background: #faf8f0;
}
.cashierTable select{
    height: 37px;
    line-height: 37px;
    -webkit-appearance: button;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    padding-left: 3px;
}
.cashierTable .prices li{
    padding-bottom: 5px;
}
.cashierTable .prices input{
    width: 40px;
}
.cashierTable .prices .flexBox span{
    line-height: 35px;
    text-align: center;
    width: 20px;
    display: block;
}
.cashierTable .prices .J-del{
    color: #f50;
}
.cashierTable label{
    display: inline-block;
    padding: 3px;
}
.cashierTable label.selected{
    background: #faf8f0;
    border: 1px solid #faedd1;
}
.cashierTable .product-preview .pprice{
    color: #f50;
}
.cashierTable .product-preview .count{
    color: #578c0c;
}
.queryProductsBox{
    padding: 0 10px 20px;
}
.queryProductsBox form select{
    -webkit-appearance: button;
    border: none;
    background: url(../imgs/icon-down-black.png) no-repeat center right;
    background-size: 24px 24px;
    height: 24px;
    line-height: 24px;
    padding-right: 30px;
    font-size: 15px;
    margin: 0 10px 10px 0;
}
.queryProductsBox form input[type=search]{
    height: 44px;
    line-height: 44px;
    display: block;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    font-size: 15px;
}
.queryProductsBox form span{
    background: url(../imgs/query.png) no-repeat center left;
    background-size: 24px 24px;
    padding-right: 30px;
    overflow: hidden;
    text-indent: -10000px;
    height: 44px;
    margin-left: 5px;
    cursor: pointer;
}
.queryProductsBox .tip{
    text-align: center;
    display: none;
    margin-bottom: 15px;
}
.queryProductsBox .tip a{
    margin-left: 5px;
    font-weight: 700;
}
.queryProductsBox .plist{
    margin: 0 0 20px;
    display: none;
}
.queryProductsBox .plist ul{
    margin: 0 0 20px;
}
.queryProductsContainer{
    display: none;
}