#error,
#success{
    margin-bottom: 10px;
}
.form-default{
    margin-bottom: 50px;
}
.addPropsForm{
    margin-bottom: 0;
}
.form-default .flexBox{
    line-height: 44px;
}
.form-default .flexBox p{
    padding-left: 10px;
}
.btn-primary{
    margin: 30px auto;
}
.form-default .propsBox,
.form-default .attachmentBox,
.form-default .typesContainer{
    height: auto;
}
#J-photoPreview img{
    max-width: 150px;
}
#J-photoPreview{
    -webkit-box-flex: 3;
    padding-left: 10px;
}
.J-takePhotoBox{
    width: 50px;
    overflow: hidden;
}
.valueBox,
#J-propsHTMLBox .prop{
    margin: 0 0 0 5px;
    padding: 5px 5px 0 0;
    display: -webkit-box;
}
#J-propsHTMLBox .prop{
    margin: 0;
    padding-top: 0;
}
#J-propsHTMLBox .prop .v{
    display: block;
}
.valueBox .btn,
#J-propsHTMLBox .prop .btn{
    display: block;
    margin-left: 5px;
    color: #f50;
    line-height: 44px;
    -webkit-box-flex: 1;
    font-size: 16px;
}
#J-propsHTMLBox .prop .btn{
    text-align: left;
    padding-let: 15px;
}
.form-default .valueBox input{
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -webkit-box-flex: 1;
}
.typesBox select{
    background: url(../imgs/icon-down-black.png) no-repeat center right;
    background-size: 24px 24px;
    height: 37px;
    line-height: 37px;
    -webkit-appearance: button;
    border: none;
    -webkit-border-radius: 5px;
    padding: 0 30px 0 0;
    font-size: 16px;
}
#J-addType{
    display: block;
    margin-top: 5px;
}
#count{
    -webkit-box-flex: 1;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}
.field-group{
    margin-bottom: 10px;
}