.guide-container{
    margin-top: 50px;
}
.guide-container .box{
    line-height: 25px;
    padding-top: 5px;
}
.gotoaccount{
    display: block;
    margin: 30px auto;
    width: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background: #f50;
    -webkit-border-radius: 5px;
    border: 1px solid #df0704;
}
.gotoaccount:hover{
    color: #fff;
}