.field-group{
    margin-bottom: 10px;
}
.registerBox{
    padding-bottom: 50px;
}
.registerBox .warn{
    margin-bottom: 10px;
    width: auto;
}
.registerBox .warn img{
    float: left;
}
.registerBox .warn a{
    line-height: 24px;
    margin-left: 10px;
    width: 70px;
    display: inline-block;
}
.registerBox .checkcodeBox{
    height: auto;
    padding: 10px 0;
}
.registerBox .checkcodeBox span.box{
    width: 100px;
}
.registerBox .checkcodeBox input{
    margin-right: 10px;
    width: auto;
}
.registerBox .checkcodeBox img{
    margin-top: 7px;
}

.registerBox .btn-primary{
    margin: 30px auto;
}
.gotoLogin{
    font-size: 14px;
    color: #fff;
    padding-right: 5px;
    display: block;
}
.registerBox .getCheckcode{
    display: block;
    text-align: left;
}
