.field-group{
    margin-bottom: 20px;
}
.security-box{
    margin-bottom: 20px;
    display: block;
    text-align: left;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    line-height: 40px;
    height: 40px;
    display: -webkit-box;
}
.security-box span{
    display: block;
}
.security-box img{
    margin: 8px 10px 0 5px;
}
#error,
#success{
    margin-bottom: 10px;
}
.btn{
    margin: 30px auto;
}